<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Táto aplikácia používa rozpoznávanie reči na transkripciu audio súborov.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Táto aplikácia môže používať mikrofón na nahrávanie audio pre transkripciu.</string>
</dict>
</plist>
